[Interface]
PrivateKey = {{ wireguard_private_key }}
Address = {{ wireguard_address }}
MTU = {{ mtu_size }}
Table = 200
PostUp = ip route add {{ vm_subnet }} dev {{ vm_bridge_interface }}; ip rule add from {{ vm_subnet }} table 200 priority 100; iptables -A FORWARD -i {{ vm_bridge_interface }} -o {{ wireguard_interface }} -j ACCEPT; iptables -A FORWARD -i {{ wireguard_interface }} -o {{ vm_bridge_interface }} -m state --state RELATED,ESTABLISHED -j ACCEPT; iptables -t nat -A POSTROUTING -s {{ vm_subnet }} -o {{ wireguard_interface }} -j MASQUERADE
PostDown = ip route del {{ vm_subnet }} dev {{ vm_bridge_interface }}; ip rule del from {{ vm_subnet }} table 200 priority 100; iptables -D FORWARD -i {{ vm_bridge_interface }} -o {{ wireguard_interface }} -j ACCEPT; iptables -D FORWARD -i {{ wireguard_interface }} -o {{ vm_bridge_interface }} -m state --state RELATED,ESTABLISHED -j ACCEPT; iptables -t nat -D POSTROUTING -s {{ vm_subnet }} -o {{ wireguard_interface }} -j MASQUERADE

[Peer]
PublicKey = {{ wireguard_peer_public_key }}
PresharedKey = {{ wireguard_preshared_key }}
AllowedIPs = 0.0.0.0/0, ::/0
PersistentKeepalive = 25
Endpoint = {{ wireguard_endpoint }}
